{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="font-monospace" style="text-align: center;"> Write a BLOG... </h2>
</div>

<!-- Alert Message -->
{% with messages = get_flashed_messages() %} <!-- Correct way to check if there are any messages-->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- Add User Form -->
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        <br>
        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control") }}
        <br>
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        <br>
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows="5") }}
        <br>
        {{ form.submit(class="btn btn-secondary btn-sm") }}

    </form>
</div>

{% endblock %}