{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="font-monospace" style="text-align: center;"> Add User </h2>
</div>

<!-- Alert Message -->
{% with messages = get_flashed_messages() %} <!-- Correct way to check if there are any messages-->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- Add User Form -->
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="post">
        {{ form.hidden_tag() }}
        <!-- Added visual rows with bootstrap -->
        <div class="row">
            <div class="col-md-6">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.fav_color.label(class="form-label") }}
                {{ form.fav_color(class="form-control") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                {{ form.about_author.label(class="form-label") }}
                {{ form.about_author(class="form-control") }}
            </div>
        </div>
        <br>
        <!--    ADD LATER
        <div class="row">
            <div class="col">
                {{ form.profile_pic.label(class="form-label") }}
                {{ form.profile_pic(class="form-control") }}
            </div>
        </div>
        <br> -->
        {{ form.submit(class="btn btn-outline-secondary") }}
    </form>
</div>



{% endblock %}