{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="font-monospace" style="text-align: center;"> Add User </h2>
</div>

<!-- Add User Form -->
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="post">
        {{ form.hidden_tag() }}
        <!-- Added visual rows with bootstrap -->
        <div class="row">
            <div class="col-md-6">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.fav_color.label(class="form-label") }}
                {{ form.fav_color(class="form-control") }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.password2.label(class="form-label") }}
                {{ form.password2(class="form-control") }}
            </div>
        </div>
        <br>
        {{ form.submit(class="btn btn-outline-secondary") }}
    </form>
</div>

<!-- Alert Message -->
{% with messages = get_flashed_messages() %} <!-- Correct way to check if there are any messages-->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- Users Tables -->
<table class="table table-striped table-hover table-bordered table align-middle" style="text-align: center;">
    <tr class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Favorite Color</th>
        <th>Delete</th> <!-- TO BE REMOVED -->
    </tr>
    {% for user in our_users %}
    <tr>
        <td>{{user.id}}.</td>
        <td> <a href="{{ url_for('update', id=user.id) }}">{{user.name}}</a></td>
        <td>{{ user.username }}</td>
        <td>{{user.email}}</td>
        <td>{{user.fav_color}}</td>
        <td><a href="{{ url_for('delete', id=user.id) }}" class="btn btn-outline-danger btn-sm">X</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}