{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="font-monospace" style="text-align: center;"> Dashboard </h2>
</div>

<!-- Alert Message -->
{% with messages = get_flashed_messages() %} <!-- Correct way to check if there are any messages-->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- User info -->
<div class="card shadow-sm mb-4">
    <div class="card-header bg-light fw-bold">
        {{ current_user.name }}'s Dashboard
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <hr>
        <ul class="list-unstyled mb-3">
            <li><strong>Username:</strong> {{ current_user.username }}</li>
            <li><strong>Email:</strong> {{ current_user.email }}</li>
            <li><strong>Favorite Color:</strong> {{ current_user.fav_color }}</li>
            <li><strong>Date Joined:</strong> {{ current_user.date_added.strftime('%B %d, %Y') }}</li>
            <!-- Fixing the date -->
        </ul>
    </div>
    <div class="card-footer text-end"> <!-- Moving button to right -->

        <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-outline-secondary btn-sm">Update / Delete
            Profile</a>
        <!-- For workflow consistency -->

        <a href="{{ url_for('logout') }}" class="btn btn-outline-danger btn-sm">Logout</a>
    </div>
</div>

<!-- Edit User Info -->
<div class="card shadow-sm mb-4">
    <div class="card-header bg-light fw-bold">
        Update Profile
    </div>
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
            <!-- Added visual rows with bootstrap -->
            <div class="row">
                <div class="col-md-6">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", value=user_to_update.username) }}
                </div>
                <div class="col-md-6">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", value=user_to_update.email) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control", value=user_to_update.name) }}
                </div>
                <div class="col-md-6">
                    {{ form.fav_color.label(class="form-label") }}
                    {{ form.fav_color(class="form-control", value=user_to_update.fav_color) }}
                </div>
            </div>
            <br>
    </div>
    <div class="card-footer text-end"> <!-- Moving button to right -->
        {{ form.submit(class="btn btn-outline-secondary btn-sm") }}
        <!-- Deletion only possible on Update Profile -->
        <!-- <a href="{{ url_for('delete', id=user_to_update.id) }}" class="btn btn-outline-danger btn-sm">Delete</a> -->
    </div>
    </form>
</div>



{% endblock %}