<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=" {{ url_for('posts') }}">Flasker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- NAV OPTIONS -->
                <!-- Moved to BRAND
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts') }}">Blogs</a>
                </li>
                -->

                {% if current_user.id == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <!-- Only logged in users can access -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_post') }}">Post Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                <!-- Admin access for userid = 1 -->

                {% else %}

                <!-- Anyone can access -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_user') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>

                {% endif %}

            </ul>
            <form action="{{ url_for('search') }}" method="post" class="d-flex" role="search">
                {{ form.hidden_tag() }}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    name="searched" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>