{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="font-monospace" style="text-align: center;"> FLASKER Blogs... </h2>
</div>

<!-- Alert Message -->
{% with messages = get_flashed_messages() %} <!-- Correct way to check if there are any messages-->
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endwith %}

<!-- All Posts -->
{% for post in posts %}
<div class="shadow p-3 mb-2 bg-body-tertiary rounded">
    <h4><strong>{{ post.title }} </strong><br></h4>
    <small> Author: {{ post.poster.name }} </small> <strong> | </strong>
    <small> Date Posted: {{ post.date_posted.strftime('%B %d, %Y') }}
        <p> {{ post.content|safe }} </p><br>
    </small>
    <a href="{{url_for('post', id=post.id)}}" class="btn btn-outline-secondary btn-sm">View Post</a>

    {% if post.poster_id==current_user.id %}
    <a href="{{url_for('edit_posts', id=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
    <!-- Modified to use POST method and ask confirmation -->
    <form action="{{ url_for('delete_posts', id=post.id) }}" method="POST" style="display:inline;">
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-outline-danger btn-sm">
            <!-- Confirm by: 
             onclick="return confirm('Are you sure you want to delete this post?')"
             -->
            <!-- ADD LATER -->
            DELETE
        </button>
    </form>

    {% endif %}
</div>
{% endfor%}

{% endblock %}