{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="font-monospace" style="text-align: center;"> Searched Blogs... </h2>
</div>


<!-- Searched Posts -->
{% for post in posts %}
<div class="shadow p-3 mb-2 bg-body-tertiary rounded">
    <h4><strong>{{ post.title }} </strong><br></h4>
    <small> Author: {{ post.poster.name }} </small>
    <br><br><br>
    <a href="{{url_for('post', id=post.id)}}" class="btn btn-outline-secondary btn-sm">View Post</a>

    {% if post.poster_id==current_user.id %}
    <a href="{{url_for('edit_posts', id=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

    <!-- Delete removed for workflow and following -->
    <!-- Using the Submit button of SEARCH FORM (ideally should be it's own form)-->

    {% endif %}
</div>
{% endfor%}



{% endblock %}