{% extends "index.html" %}

{% block body %}

<!-- Heading -->
<div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="font-monospace" style="text-align: center;"> Update User </h1>
</div>

<!-- Update Form -->
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=user_to_update.name) }}
        <br>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=user_to_update.email) }}
        <br>
        {{ form.fav_color.label(class="form-label") }}
        {{ form.fav_color(class="form-control", value=user_to_update.email) }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}

    </form>
</div>

{% endblock %}