{% extends "index.html" %}

{% block body %}

{% if name %}
<!-- Alert Message -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<h2>Hi, <strong>{{name}} </strong>!!!</h2>

{% else %}
<h1> User </h1>
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}

</form>
{% endif %}


{% endblock %}