{% extends "index.html" %}

{% block body %}

{% if name %}
<h1>Hello, {{ name }} </h1>
<h3>Your Email: {{ email }} </h3>
<h4>Password - {{ password }}</h4>
{% else %}
<h1> User </h1>
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    <br>
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br>
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}

</form>
{% endif %}


{% endblock %}